/* font and background colors */

/* brand */
$orange: #f1592a;

/* bodyText */
$white: #fff;
$black: #000;

$primaryColor: #999;
$secundaryColor: #48a7af;
$terciaryColor: #ccc;

$grey: #999999;
$lightGrey: #d9d9d9;
$mediumGrey: #C0BCB5;

/* background-colors */
$backgDark : #262626;
$error: red;