//** Login **//
.formLogin {
	margin-bottom: 20px;
	width: 45%;
	padding: 20px;
	margin: 0 auto;
	background-color: $orange;
	legend {
		width: 100%;
		font-size: 40px;
		color: $white;
		padding: 20px 0 10px 70px;
		margin-bottom: 30px;
		background: $orange url('/images/logo-small.png') no-repeat 5% 10px;
	}
	label {
		display: none;
	}
	button[type="submit"] {
		float: right;
		margin-top: 15px;
		background-color: $grey;
	}
	button[type="submit"]:hover,
	button[type="submit"]:focus {
		background-color: $white;
		color: $grey;
	}

	/* errorMSG */
	.input-field.hasError {
		border-bottom: 1px solid $error
	}

}
.loginLinks {
	position: relative;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	a {
		color: $semiwhite;
		&:hover {
			color: $blueLink;
			text-decoration: underline;
		}
	}
}