html,body {
	position: relative;
	width: 100%;
	height: 100%;
	font: normal 62.5% 'colaboratelightregular', helvetica, arial, sans-serif;
	font-size: 13px;
	color: $darkGrey;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;

	h1 {}
	
	h2 {
		width: 100%;
		float: left;
		font-size: 15px;
		font-family: 'colaborate-mediumregular';
		color: $black;
	}
	h3 {
		font-size: 15px;
		font-family: 'colaboratelightregular';
		color: $black;
	}
	ul, li {
		margin: 0;
		padding: 0;
	}
	p {
		margin: 0;
		padding: 0;
	}
}
body {
	.menu {
		display: block;
		position: fixed;
		top: 0;
		left: -225px;
		width: 225px;
		height: 100%;
	    transform: translateX(100%);
	}
	.content {
		opacity: 0.3;
		float: right;
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding-left: 0;
		background-color: $white;
	    transform: translateX(225px);
		.utilities {
			position: fixed;
			width: 100%;
			height: 59px;
			background-color: $orange;
		}
		.main {
			width: 100%;
		 	height: 100%;
		 	overflow: scroll;
		 	padding: 90px 10px 20px 10px;
		 	margin-top: 15px;
		}
	}
}

.panelAnimates .menu {
  	transform: translateX(-100%);
}
.panelAnimates .content {
	transform: translateX(0px);
	opacity: 1;
}

