h2.all {
	width: 80%;
}
.allTask {
	clear: both;
	width: 100%;
	margin-bottom: 35px;
	li {
		padding: 8px;
		margin-bottom: 5px;
		background-color: #C0BCB5;
		overflow: hidden;
		.stamp {
			li {
				overflow: auto;
				margin: 0;
				padding-bottom: 3px;
				h3 {
					clear: both;
					width: 100%;
					text-transform: uppercase;
				}

				div {
					margin: 0;
					padding: 0;
					.date {
						width: 50%;
						text-align: left;
						float: left;
					}
					.label {
						width: 50%;
						text-align: right;
						float: right;
					}
					p {
						span {
							font-weight: 'colaborate-boldregular';
						}
					}
				}

			}
		}
		.info {
			padding: 0 8px 8px 8px;
		}
		.editorial {
			li {
				margin: 0;
				padding: 0;
				padding: 0 8px;
				a {
					text-decoration: none;
					color: $white;
					&:hover {
						color: $orange;
					}
				}
			}
			li:first-child {
				float: left;
			}
			li:last-child {
				float: right;
			}
		}
	}
}