.content {
	.closeBtn {
		z-index: 50;
		display: block;
		position: relative;
		float: left;
		margin: 18px 0 0 10px;
		text-decoration: none;
		color: $white;
		&:hover {
			color: #000103;
		}
		span {
			display: block;
		}
	}
	.main.intro {
		h2 {
			margin: 0;
			padding: 0;
			padding-bottom: 20px;
		}
		p {
			margin: 0;
			padding: 0;
			padding-bottom: 15px;
		}
		.signature{
			margin-top: -10px;
		}
	}
}