.content {
	.closeBtn {
		z-index: 50;
		position: relative;
		top: 5px;
		left: 5px;
		color: $white;
	}
	.main.intro {
		h2 {
			margin: 0;
			padding: 0;
			padding-bottom: 20px;
		}
		p {
			margin: 0;
			padding: 0;
			padding-bottom: 15px;
		}
		.signature{
			margin-top: -10px;
		}
	}
}