<section class="formLogin registerForm">
	
	<form name="register.formRegister" ng-submit="register.submitRegister()" role="form" novalidate>
		
		<fieldset>
			
			<legend>User Registration</legend>

			<div class="input-field" ng-class="{ 'has-error': register.firstName.$invalid && register.firstName.$pristine }">
	            <label for="firstName">First name</label>
	            <input type="text" name="firstName" id="firstName" placeholder="Firstname." ng-model="register.firstName" required />
	        </div>
	        <div class="input-field" ng-class="{ 'has-error': register.lastName.$invalid && register.lastName.$pristine }">
	            <label for="lastName">Last name</label>
	            <input type="text" name="lastName" id="Text1" placeholder="Lastname." ng-model="register.lastName" required />
	        </div>
	        <div class="input-field" ng-class="{ 'has-error': register.username.$invalid && register.username.$pristine }">
	            <label for="username">Username</label>
	            <input type="text" name="username" id="username" placeholder="Username." ng-model="register.username" required />
	        </div>

	        <div class="input-field" ng-class="{ 'has-error': register.mail.$invalid && register.mail.$pristine }">
	            <label for="mail">Email</label>
	            <input type="email" name="mail" id="mail" placeholder="Email." ng-model="register.mail" required />
	        </div>

	        <div class="input-field" ng-class="{ 'has-error': register.password.$invalid && register.password.$pristine }">
	            <label for="password">Password</label>
	            <input type="password" name="password" id="password" placeholder="Password." ng-model="register.password" required />
	        </div>

	        <p class="errorLogin">{{register.errorData}}</p>

	        <button type="submit" ng-disabled="login.formLogin.$invalid" class="waves-effect waves-teal btn-flat">Register</button>
	        <button type="reset" class="waves-effect waves-teal btn-flat" ng-click="register.resetVal()">Reset</button>

		</fieldset>

	</form>

</section>