<section class="formLogin">
	
	<form name="register.formRegister" ng-submit="register.submitRegister()" role="form" novalidate>
		
		<fieldset>
			
			<legend>User Registration</legend>

			<div class="formGroup" ng-class="{ 'has-error': register.firstName.$dirty && register.firstName.$error.required }">
	            <label for="firstName">First name</label>
	            <input type="text" name="firstName" id="firstName" placeholder="Enter firstname is required." ng-model="register.firstName" required />
	        </div>
	        <div class="formGroup" ng-class="{ 'has-error': register.lastName.$dirty && register.lastName.$error.required }">
	            <label for="lastName">Last name</label>
	            <input type="text" name="lastName" id="Text1" placeholder="Enter lastname is required." ng-model="register.lastName" required />
	        </div>
	        <div class="formGroup" ng-class="{ 'has-error': register.username.$dirty && register.username.$error.required }">
	            <label for="username">Username</label>
	            <input type="text" name="username" id="username" placeholder="Enter username is required." ng-model="register.username" required />
	        </div>

	        <div class="formGroup" ng-class="{ 'has-error': register.mail.$dirty && register.mail.$error.required }">
	            <label for="mail">Email</label>
	            <input type="email" name="mail" id="mail" placeholder="Enter email is required." ng-model="register.mail" required />
	        </div>

	        <div class="formGroup" ng-class="{ 'has-error': register.password.$dirty && register.password.$error.required }">
	            <label for="password">Password</label>
	            <input type="password" name="password" id="password" placeholder="Enter password is required." ng-model="register.password" required />
	        </div>

	        <p class="errorLogin">{{register.errorData}}</p>

	        <button type="submit" ng-disabled="register.$invalid">Register</button>
	        <button type="button" class="btn" ng-click="register.resetVal()">Reset</button>

		</fieldset>

	</form>

</section>