<div class="overlayWrapper">

	<div class="taskForm">

		<a class="close" ui-sref="app.all"><span class="oi" data-glyph="x" title="x" aria-hidden="true">Close</span></a>

	    <form name="createTodo.formAddTasks" ng-submit="createTodo.createTask()" novalidate>
	      
	      <fieldset>

	      	<legend><span class="oi" data-glyph="task" title="task" aria-hidden="true">Task</span></legend>
	      	<!-- div class="formGroup">
	      		<label>
	      			<input type="checkbox" ng-model="createTodo.isDone">
	      			Task done?!
	      		</label>
	      	</div -->
	      	<div class="formGroup">
	            <label for="project">Project</label>
	            <input type="text" id="project" name="project" ng-model="createTodo.project" placeholder="Add Project Title" Required>
	        </div>
	        <div class="formGroup selectAlign">
	        	<label for="priority">Priority</label>
	            <select ng-model="createTodo.label" ng-name="priority" ng-options="k as v for (k,v) in createTodo.priority[0]">
	            </select>
	            <input type="hidden" name="priority" value="{{createTodo.label}}" Required>
	        </div>
	        <div class="formGroup selectAlign">
	        	<label for="user">Username</label>
	            <select ng-model="createTodo.user" ng-name="user" ng-options="k as v for (k,v) in createTodo.user">
	            </select>
	            <input type="hidden" name="user" value="{{createTodo.user}}" Required>
	        </div>
	        <div class="formGroup">
	            <label for="date">date</label>
	            <input type="date" id="date" name="date" ng-model="createTodo.dateNum" placeholder="Type date" Required>
	        </div>
	        <div class="formGroup">
	            <label for="header">Task Header</label>
	            <input type="text" id="header" name="header" ng-model="createTodo.headerComment" placeholder="Type Task Title" Required>
	        </div>
			<div class="formGroup">
	            <label for="description">Task Description</label>
	            <input type="text" id="description" name="description" ng-model="createTodo.comment" placeholder="Type Task Description" Required>
	        </div>

	        <p>Please make sure all the fields are completed.</p>

	        <button type="submit" class="btn">Create</button>
	        <button type="button" class="btn" ng-click="createTodo.resetVal()">Reset</button>

	      </fieldset>

	    </form>

	</div>
	
</div>