<section class="row">

    <form class="formLogin" name="login.formLogin" ng-submit="login.submitLogin()" novalidate>

      	<fieldset>
      	
      		<legend>To-do app</legend>

	      	<div class="row">

		        <div class="input-field" ng-class="{'hasError': login.username.$invalid && login.username.$pristine}">
		          	<label for="name">Enter your username</label>
					<input type="text" name="username" placeholder="Sign-up with username" ng-model="login.username">
		        </div>
	      	</div>
		   	<div class="row">
	        	<div class="input-field" ng-class="{'hasError': login.username.$invalid && login.username.$pristine}">
	          		<label for="password">Enter your password</label>
					<input type="password" name="password" placeholder="Enter password" ng-model="login.password">
	        	</div>
	      	</div>

	      	<p class="errorLogin">{{login.errorData}}</p>

	      	<button type="submit" ng-disabled="login.formLogin.$invalid" class="waves-effect waves-teal btn-flat">Login</button>

      	</fieldset>

    </form>

    <div class="loginLinks">
    	<a class="signUp" href="javascript:void(0)" ng-click="login.register()">New user? Sign-up</a>
		<p>[ credentials: admin / admin ]</p>
	</div>

</section>