//** Login **//
.formLogin {
	margin: 10% auto 30px;
	width: 65%;
	padding: 20px;
	//margin: 0 auto;
	background-color: $orange;
	legend {
		width: 100%;
		font-size: 40px;
		color: $white;
		padding: 20px 0 10px 70px;
		margin-bottom: 30px;
		background: $orange url('/images/logo-small.png') no-repeat 5% 10px;
	}
	label {
		display: none;
	}
	button {
		margin-top: 15px;
		float: right;
	}
	button[type="submit"] {
		background-color: $grey;
	}

	button[type="submit"]:hover,
	button[type="submit"]:focus {
		background-color: $grey;
	}
	/* errorMSG */
	.input-field.hasError {
		border-bottom: 1px solid $error;
	}

}
.loginLinks {
	position: relative;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	a {
		color: $semiwhite;
		&:hover {
			color: $blueLink;
			text-decoration: underline;
		}
	}
}

//** Registration Form **//
.formLogin.registerForm {
	width: 60%;
	legend {
		text-align: center;
		background-image: none;
		padding: 20px 0 10px 0;
	}

	button[type="reset"] {
		margin-right: 20px;
		background-color: $grey;
	}

	button[type="reset"]:hover,
	button[type="reset"]:focus {
		background-color: $white;
		color: $grey;
	}
	.errorLogin {
		width: 100%;
		padding: 10px;
		text-align: center;
		color: $error;
	}
}