/* Coolors Exported Palette - coolors.co/f1592a-fffffa-515052-000103-333138 */

$orange: #f1592a; //rgba(241, 89, 42, 100)
$white: #fffffa; //rgba(255, 255, 250, 100)
$lightGrey: #515052; //rgba(81, 80, 82, 100)
$darkGrey: #333138; //rgba(51, 49, 56, 100)
$black: #000103; //rgba(0, 1, 3, 100)